<aside class="sidebar">
  <div class="brand">
    <div class="logo">UPB</div>
    <h2>OEUPB</h2>
  </div>
  
  <nav class="nav-menu">
    <!-- Solo visible para Coordinadores y Directivos -->
    <ng-container *ngIf="userRole !== 'Admin_CTIC'">
      <a routerLink="/reporte" routerLinkActive="active" class="nav-item">Reporte general</a>
      <a routerLink="/tendencias" routerLinkActive="active" class="nav-item">Tendencias</a>
      <a routerLink="/directorio" routerLinkActive="active" class="nav-item">Directorio</a>
      <a routerLink="/habilidades" routerLinkActive="active" class="nav-item">Co-relaciones</a>
    </ng-container>

    <!-- Solo visible para Coordinadores -->
    <ng-container *ngIf="userRole === 'Coordinador_Sede'">
      <a routerLink="/carga" routerLinkActive="active" class="nav-item">Cargar datos</a>
    </ng-container>

    <!-- Solo visible para Administradores CTIC -->
    <ng-container *ngIf="userRole === 'Admin_CTIC'">
      <a routerLink="/admin-usuarios" routerLinkActive="active" class="nav-item">Administrar Usuarios</a>
    </ng-container>
  </nav>

  <div class="bottom-menu">
    <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
  </div>
</aside>



