<aside class="sidebar">
  <div class="brand">
    <div class="logo">UPB</div>
    <h2>OEUPB</h2>
  </div>
  
  <nav class="nav-menu">
    <a routerLink="/reporte" routerLinkActive="active" class="nav-item">📊 Reporte general</a>
    <a routerLink="/tendencias" routerLinkActive="active" class="nav-item">📈 Tendencias</a>
    <a routerLink="/carga" routerLinkActive="active" class="nav-item">📁 Cargar datos</a>
  </nav>

  <div class="bottom-menu">
    <button class="logout-btn" (click)="logout()">🚪 Cerrar Sesión</button>
  </div>
</aside>
